@font-face {
  font-family: 'Osiris';
  src: local('Osiris'), url(/fonts/Osiris.otf) format('opentype');
}

@font-face {
  font-family: 'Osiris';
  src: local('Osiris'), url(/fonts/Osiris.otf) format('opentype');
}

@font-face {
  font-family: 'Osiris';
  src: local('Osiris'), url(/fonts/Osiris.otf) format('opentype');
}